<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @connector_type.name %>
</p>

<%= link_to 'Edit', edit_connector_type_path(@connector_type) %> |
<%= link_to 'Back', connector_types_path %>
